<!DOCTYPE html>
<html lang="en" class="h-100 w-100 m-0 usn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Accounting</title>
    <link rel="stylesheet" href="/assets/css/scroll.css">
    <link rel="stylesheet" href="assets/css/display.css">
    <link rel="stylesheet" href="assets/css/border.css">
    <link rel="stylesheet" href="assets/css/input.css">
    <link rel="stylesheet" href="assets/css/margin.css">
    <link rel="stylesheet" href="assets/css/padding.css">
    <link rel="stylesheet" href="assets/css/position.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/receipt.css">

    <script src="assets/js/vue.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/dom-to-image.min.js"></script>

    <script type="module" src="assets/js/utils.js" defer></script>
    <script type="module" src="assets/js/party.js" defer></script>
    <script type="module" src="assets/js/transaction.js" defer></script>
    <script type="module" src="assets/js/item.js" defer></script>
    <script type="module" src="assets/js/script.js" defer></script>
</head>

<body class="w-100 h-100 m-0">
    <div id="vuejify" class="df fr h-100" v-cloak>
        <!-- Sidebar -->
        <div class="df fc br-1" :class="{'d-none': fullscreenView}">
            <div class="header p-2 bb-1 wsnw">SK Albums</div>
            <a href="#" v-for="(m,i) in menus" class="p-2 bb-1" @click="setTabIndex(i)"
                :class="{'cy': tabIndex == i}">{{ m }}</a>
        </div>
        <!-- Main Content -->
        <div class="f1 df fc">
            <div class="p-2 bb-1" :class="{'d-none': fullscreenView}">
                <a href="#" @click="setTabIndex(5, true)">Add Sale</a>
            </div>
            <!-- Home -->
            <div :class="{'d-none': tabIndex != 0}" class="df fr h-100">
                Home View
            </div>
            <!-- Party -->
            <div :class="{'d-none': tabIndex != 1}" class="df fr h-100">
                <div class="df fc br-1 wp-200">
                    <div class="p-2 tc bb-1">
                        <a href="#" @click="setTabIndex(3, true)">Add Party</a>
                    </div>
                    <div class="df fr jcsb p-2 bb-1">
                        <div>Name</div>
                        <div class="pl-2">Balance</div>
                    </div>
                    <div class="df f1 fc pr">
                        <div class="pa h-100 w-100 scroller df f1 fc">
                            <a href="#" v-for="party in parties" class="df fr jcsb p-2 bb-1"
                                :class="{'cy': selectedParty == party }" @click="selectParty(party)">
                                <div class="wsnw oh toe">{{ party.name }}</div>
                                <div class="pl-2">{{ party.formattedBalance }}</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div v-if="selectedParty" class="df f1 fc" id="party-transactions">
                    <div class="df fr bb-1 m-2">
                        <div class="f1 df fc">
                            <div><b>Name :</b> {{ selectedParty.name }}</div>
                            <div><b>Phone :</b> {{ selectedParty.phone }}</div>
                            <div class="pb-2"><b>Email Id :</b> {{ selectedParty.email }}</div>
                        </div>
                        <div class="df fc aife">
                            <a href="#" @click="exportTransactions">Export</a>
                            <a href="#" v-if="selectedParty.balance > 0" @click="takeBalance(selectedParty)">Take balance</a>
                        </div>
                    </div>
                    <div class="df f1 fc px-2 pb-2">
                        <h3 class="m-0 bb-1 pb-2 mb-2">Transactions</h3>
                        <div class="f1">
                            <table v-if="transactionsForSelectedParty.length > 0" class="w-100" border="1"
                                cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr>
                                        <th class="p-2 wp-1">#</th>
                                        <th class="p-2">Type</th>
                                        <th class="p-2">Date</th>
                                        <th class="p-2">Total</th>
                                        <th class="p-2">Paid</th>
                                        <th class="p-2">Due</th>
                                        <th class="p-2">Balance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cp" v-for="t in transactionsForSelectedParty" @click="showReceipt(t)">
                                        <td class="tr p-2">{{ t.number }}.</td>
                                        <td class="p-2 wp-1 wsnw">{{ t.type }}</td>
                                        <td class="p-2">{{ t.formattedDate }}</td>
                                        <td class="tr p-2 wp-1 wsnw">{{ t.formattedTotalAmount }}</td>
                                        <td class="tr p-2 wp-1 wsnw">{{ t.formattedPaid }}</td>
                                        <td class="tr p-2 wp-1 wsnw">{{ t.formattedDue }}</td>
                                        <td class="tr p-2 wp-1 wsnw">{{ t.party.formattedBalance }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div v-else class="tc p-2">
                                No transactions found for the selected party
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Items -->
            <div :class="{'d-none': tabIndex != 2}" class="df fr h-100">
                <div class="df fc br-1 wp-200">
                    <div class="p-2 tc bb-1">
                        <a href="#" @click="setTabIndex(4, true)">Add Item</a>
                    </div>
                    <div class="df fr jcsb p-2 bb-1">
                        <div>Name</div>
                        <div class="pl-2">Pricing</div>
                    </div>
                    <div class="df f1 fc pr">
                        <div class="pa h-100 w-100 scroller df f1 fc">
                            <a href="#" v-for="item in items" class="df fr jcsb p-2 bb-1"
                                :class="{'cy': selectedItem == item }" @click="selectItem(item)">
                                <div class="wsnw oh toe">{{ item.name }}</div>
                                <div class="pl-2">{{ item.formattedPrice }}</div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Add/Edit Party -->
            <div :class="{'d-none': tabIndex != 3}" class="df fc h-100">
                <div class="df fr jcsb bb-1">
                    <h3 class="m-0 p-2">{{ newParty.id == 0 ? 'Add' : 'Edit' }} Party</h3>
                    <a href="#" class="p-2" @click="backClick()">Back</a>
                </div>
                <div class="df fr py-2 bb-1">
                    <div>
                        <span class="pl-2">Name :</span>
                        <input v-model="newParty.name" :class="{ 'br': newParty.name == ''}" type="text"
                            placeholder="Party Name" />
                    </div>
                    <div>
                        <span class="pl-2">Phone :</span>
                        <input v-model="newParty.phone" :class="{ 'br': newParty.phone.length != 10}" type="text"
                            class="numeric" maxlength="10" placeholder="Phone Number" />
                    </div>
                </div>
                <div class="f1 df fr bb-1">
                    <div class="df fc p-2">
                        <div>State</div>
                        <input v-model="newParty.state" :class="{ 'br': newParty.state == ''}" class="mt-1 mb-2"
                            type="text" placeholder="State" />
                        <div>Email</div>
                        <input v-model="newParty.email" :class="{ 'br': newParty.email == ''}" class="mt-1 mb-2"
                            type="text" placeholder="Email ID" />
                    </div>
                    <div class="p-2 f1 df fc">
                        <div class="pb-1">Address</div>
                        <textarea v-model="newParty.address" :class="{ 'br': newParty.address == ''}" class="f1"
                            placeholder="Billing Address"></textarea>
                    </div>
                </div>
                <div class="df fr jce">
                    <a href="#" class="p-2" @click="saveParty()">Save</a>
                </div>
            </div>
            <!-- Add/Edit Items -->
            <div :class="{'d-none': tabIndex != 4}" class="df fc h-100">
                <div class="df fr jcsb bb-1">
                    <h3 class="m-0 p-2">{{ newItem.id == 0 ? 'Add' : 'Edit' }} Item</h3>
                    <a href="#" class="p-2" @click="backClick()">Back</a>
                </div>
                <div class="df f1 fr py-2 bb-1">
                    <div>
                        <span class="pl-2">Name :</span>
                        <input v-model="newItem.name" :class="{ 'br': newItem.name.trim() == ''}" type="text"
                            placeholder="Item Name" />
                    </div>
                    <div>
                        <span class="pl-2">Price :</span>
                        <input v-model="newItem.price"
                            :class="{ 'br': !newItem.price.toString().trim() || parseInt(newItem.price) <= 0}"
                            type="text" class="numeric" maxlength="10" placeholder="Item Price" />
                    </div>
                </div>
                <div class="df fr jce">
                    <a href="#" class="p-2" @click="saveItem()">Save</a>
                </div>
            </div>
            <!-- Add Sale -->
            <div :class="{'d-none': tabIndex != 5}" class="df fc h-100">
                <div class="df fr jcsb bb-1">
                    <h3 class="m-0 p-2">Add Sale</h3>
                    <a href="#" class="p-2" @click="backClick()">Back</a>
                </div>
                <div class="df f1 fc bb-1">
                    <!-- Party Selector -->
                    <div v-if="selectedPartyForAddSale == null" class="df fc px-2">
                        <div v-for="party in parties" class="p-2 bb-1 df fr jcsb">
                            <span>{{ party.name }}</span>
                            <a href="#" @click="selectPartyForAddSale(party)">Select</a>
                        </div>
                    </div>
                    <div v-else class="df fc f1">
                        <div class="df fr f1">
                            <div class="df fc f1 br-4">
                                <!-- Party Info -->
                                <div class="df fr jcsb p-2 bb-1">
                                    <div class="df fc">
                                        <div>
                                            <b>Name :</b>
                                            <span>{{ selectedPartyForAddSale.name }}</span>
                                        </div>
                                        <div>
                                            <b>Phone :</b>
                                            <span>{{ selectedPartyForAddSale.phone }}</span>
                                        </div>
                                        <div>
                                            <b>Email :</b>
                                            <span>{{ selectedPartyForAddSale.email }}</span>
                                        </div>
                                        <div>
                                            <b>Address :</b>
                                            <span>{{ selectedPartyForAddSale.address }}</span>
                                        </div>
                                        <div>
                                            <b>Balance :</b>
                                            <span>{{ selectedPartyForAddSale.balance }}</span>
                                        </div>
                                    </div>
                                    <div class="df fc">
                                        <div class="tr">
                                            <a href="#" @click="reselectPartyForAddSale()">Re-select</a>
                                        </div>
                                        <div>
                                            <b>Date :</b>
                                            <input type="date" v-model="dateForAddSale" />
                                        </div>
                                    </div>
                                </div>
                                <!-- Items Selector -->
                                <div class="df fr f1">
                                    <!-- Selected Item List -->
                                    <div class="df fc f1">
                                        <table v-if="itemsForAddSale.length > 0" class="w-100" cellpadding="0"
                                            cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th class="bb-1 p-2 br-1 wsnw wp-1">S.N.</th>
                                                    <th class="bb-1 p-2 tl br-1">Name</th>
                                                    <th class="bb-1 p-2 tr br-1 wsnw wp-1">Pricing</th>
                                                    <th class="bb-1 p-2 tr br-1 wsnw wp-1">Quantity</th>
                                                    <th class="bb-1 p-2 tr br-1 wsnw wp-1">Total</th>
                                                    <th class="bb-1 wp-1"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(transactionItem, i) in itemsForAddSale">
                                                    <td class="p-2 tr bb-1 br-1">{{ i + 1 }}.</td>
                                                    <td class="p-2 bb-1 br-1">{{ transactionItem.item.name }}</td>
                                                    <td class="tr bb-1 br-1">
                                                        <input class="w-100 p-2" v-model="transactionItem.item.price"
                                                            maxlength="8" />
                                                    </td>
                                                    <td class=" bb-1 br-1">
                                                        <input type="text" class="numeric w-100 p-2"
                                                            v-model="transactionItem.quantity" maxlength="4" />
                                                    </td>
                                                    <td class="p-2 wsnw bb-1 tr br-1">{{ transactionItem.formattedTotal
                                                        }}
                                                    </td>
                                                    <th class="bb-1 p-2">
                                                        <a href="#"
                                                            @click="removeItemFromSale(transactionItem)">&times;</a>
                                                    </th>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th colspan="4" class="tl p-2 bb-1 br-1">Total</th>
                                                    <th class="bb-1 p-2 tr br-1">{{ totalForAddSaleFormatted }}</th>
                                                    <th class="bb-1"></th>
                                                </tr>
                                                <tr>
                                                    <th colspan="4" class="tl p-2 bb-1 br-1">Received</th>
                                                    <th class="bb-1 tr">
                                                        <input class="numeric w-60 tr p-2 br-1"
                                                            v-model="receivedAmountForSale"
                                                            @input="receivedAmountForSale_Changed" maxlength="8" />
                                                    </th>
                                                    <th class="bb-1"></th>
                                                </tr>
                                                <tr>
                                                    <th colspan="4" class="tl p-2 bb-1 br-1">Due</th>
                                                    <th class="bb-1 p-2 tr br-1">
                                                        {{ dueForAddSale }}
                                                    </th>
                                                    <th class="bb-1"></th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <div v-else class="tc p-2">Please select at least one item</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Items Selection -->
                            <div class="df fc wp-200">
                                <div class="df fr jcsb p-2 bb-1">
                                    <div>Name</div>
                                    <div class="pl-2">Pricing</div>
                                </div>
                                <div class="df f1 fc pr">
                                    <div class="pa h-100 w-100 scroller df f1 fc">
                                        <a href="#" v-for="item in items" class="df fr jcsb p-2 bb-1"
                                            :class="{'cy': selectedItem == item }" @click="selectItemForAddSale(item)">
                                            <div class="wsnw oh toe">{{ item.name }}</div>
                                            <div class="pl-2">{{ item.formattedPrice }}</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="df fr jce">
                    <a v-if="showGenerateSaleButton" href="#" class="p-2" @click="generateSaleReceipt">Generate</a>
                </div>
            </div>
            <!-- Receipt -->
            <div :class="{'d-none': tabIndex != 6}" class="df fc h-100 aic">
                <div v-if="selectedTransaction" class="df fc bc-w a4-width" id="transaction-receipt">
                    <img class="w-100" src="assets/images/bill-top.png" alt="Bill Top Image" />
                    <div class="f1 pr df fc py-2 px-3">
                        <div>Bill To:</div>
                        <div class="fs-34 fwb">{{ selectedTransaction.party.name }}</div>
                        <div>{{ selectedTransaction.party.address }}</div>
                        <div>Contact No. {{ selectedTransaction.party.phone }}</div>
                        <div>State. {{ selectedTransaction.party.state }}</div>
                        <div class="pa r-0 p-2 mt--70 df fc">
                            <div class="ttu fs-34 fwb">Invoice</div>
                            <div>Invoice No: {{ selectedTransaction.number }}</div>
                            <div>Date: {{ selectedTransaction.formattedDate }}</div>
                        </div>
                        <div>
                            <table v-if="selectedTransaction.type == 'Sale'" class="w-100 receipt" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr>
                                        <th class="p-1">#</th>
                                        <th class="p-1">Item Name</th>
                                        <th class="p-1">Quantity</th>
                                        <th class="p-1">Price / Unit</th>
                                        <th class="p-1">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in selectedTransaction.items">
                                        <td class="tr p-1">{{ index + 1 }}.</td>
                                        <td class="p-1">{{ item.item.name }}</td>
                                        <td class="p-1 tr">{{ item.quantity }}</td>
                                        <td class="p-1 tr">{{ item.item.formattedPrice }}</td>
                                        <td class="p-1 tr">{{ item.formattedTotal }}</td>
                                    </tr>
                                    <tr>
                                        <th class="p-1 tl" colspan="2">Total</th>
                                        <th class="p-1 tr">{{ selectedTransaction.totalItemCount }}</th>
                                        <th class="p-1"></th>
                                        <th class="p-1 tr">{{ selectedTransaction.formattedTotalAmount }}</th>
                                    </tr>
                                    <tr>
                                        <th colspan="3" class="b-0"></th>
                                        <th class="p-1 tl">Total Balance</th>
                                        <th class="p-1 tr">{{ formatCurrency(selectedTransaction.party.balance - selectedTransaction.due + selectedTransaction.totalAmount) }}</th>
                                    </tr>
                                    <tr>
                                        <th colspan="3" class="b-0"></th>
                                        <td class="p-1 tl">Received</td>
                                        <td class="p-1 tr">{{ selectedTransaction.formattedPaid }}</td>
                                    </tr>
                                    <tr>
                                        <th colspan="3" class="b-0"></th>
                                        <td class="p-1 tl">Previous Balance</td>
                                        <td class="p-1 tr">{{ formatCurrency(selectedTransaction.party.balance - selectedTransaction.due) }}</td>
                                    </tr>
                                    <!-- <tr>
                                        <th colspan="3" class="b-0"></th>
                                        <td class="p-1 tl">Due</td>
                                        <td class="p-1 tr">{{ selectedTransaction.formattedDue }}</td>
                                    </tr> -->
                                    <tr>
                                        <th colspan="3" class="b-0"></th>
                                        <th class="p-1 tl">Final Balance</th>
                                        <th class="p-1 tr">{{ selectedTransaction.party.formattedBalance }}</th>
                                    </tr>
                                </tbody>
                            </table>
                            <table v-else class="w-100 receipt" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr>
                                        <th class="p-1">Particulars</th>
                                        <th class="p-1">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="p-1">Balance</td>
                                        <td class="p-1 tr">{{ selectedTransaction.formattedTotalAmount }}</td>
                                    </tr>
                                    <tr>
                                        <td class="p-1">Received</td>
                                        <td class="p-1 tr">{{ selectedTransaction.formattedPaid }}</td>
                                    </tr>
                                    <tr>
                                        <td class="p-1">Final Balance</td>
                                        <td class="p-1 tr">{{ selectedTransaction.formattedDue }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <img class="w-100" src="assets/images/bill-bottom.png" alt="Bill Bottom Image" />
                </div>
                <div class="tc p-2">
                    <a href="#" @click="exportReceipt">Export</a>
                    <a href="#" class="ml-2" @click="backClick">Back</a>
                </div>
            </div>
            <!-- Balance -->
            <div :class="{'d-none': tabIndex != 7}" class="df fc h-100">
                <div class="p-2 bb-1 df fr jcsb aic">
                    <h2 class="m-0">Take Balance</h2>
                    <a href="#" @click="backClick">Back</a>
                </div>
                <div v-if="selectedPartyForBalance" class="f1 df fc">
                    <div class="p-2 df fc bb-1">
                        <div><b>Name :</b> {{ selectedPartyForBalance.name }}</div>
                        <div><b>Phone :</b> {{ selectedPartyForBalance.phone }}</div>
                        <div><b>Email Id :</b> {{ selectedPartyForBalance.email }}</div>
                    </div>
                    <div class="f1 df fr jcfe bb-1">
                        <div class="bl-1 df fc">
                            <div class="df fr aic p-2 bb-1">
                                <div class="pr-2">Current Balance :</div>
                                <div class="f1 tr">{{ selectedPartyForBalance.formattedBalance }}</div>
                            </div>
                            <div class="df fr aic p-2 bb-1">
                                <div class="pr-2">Received Amount :</div>
                                <input type="text" class="numeric tr" v-model="balanceInput" @input="balanceInputChanged" maxlength="10" />
                            </div>
                            <div class="df fr aic p-2 bb-1">
                                <div class="pr-2">Final Balance :</div>
                                <div class="f1 tr">{{ formatCurrency(finalBalance) }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="df fr jcfe" :class="{'d-none': finalBalance == selectedPartyForBalance.balance }">
                        <a href="#" class="m-2" @click="generateBalanceReceipt">Generate Receipt</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>