.tl {
    text-align: left;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

input,
textarea {
    padding: 4px;
}

textarea {
    resize: none;
}

.toe {
    text-overflow: ellipsis;
}

.wsnw {
    white-space: nowrap;
}

.ttu {
    text-transform: uppercase;
}

.fwb {
    font-weight: bold;
}