.usn {
    user-select: none;
}

/* Utils */

html,
body {
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: border-box;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

a {
    text-decoration: none;
}

.br {
    border: 2px solid red;
}

.cy {
    color: yellow;
}

.wp-1 {
    width: 1px;
}

.wp-62 {
    width: 62px;
}

.wp-60 {
    width: 60px;
}

.wp-200 {
    width: 200px;
}

.oh {
    overflow: hidden;
}